<div class="container">
  <div class="cards">
    <div class="card-trip">
      <img src="https://cdn.shopify.com/s/files/1/1022/9437/products/0001_Layer2_1200x.jpg?v=1653884141" />
      <div class="card-trip-infos">
        <div>
          <h2>Snowboards</h2>
          <p>Rent the snowboard!</p>
        </div>
        <h2 class="card-trip-pricing">$49.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>

     <div class="cards">
    <div class="card-trip">
      <img src="https://cdn.shopify.com/s/files/1/1022/9437/products/0001_Layer2_1200x.jpg?v=1653884141" />
      <div class="card-trip-infos">
        <div>
          <h2>Snowboards</h2>
          <p>Rent the snowboard!</p>
        </div>
        <h2 class="card-trip-pricing">$49.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
</div>
