<!--TITLE
<title>Travelling Website</title>-->

<!--SHORTCUT ICON-->
<link rel="shortcut icon" href="#" />
<!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<!--GOOGLE FONTS-->

</head>
<body>

<!--NAV-->
<nav>
  <a href="javascript:{}" class="flex menu" onclick="nav()"><img src="https://i.postimg.cc/Vv7xdSY0/00.png" alt=""></a>
  <a href="#" class="flex active"><img src="https://i.postimg.cc/nLBf0c1N/01.png" alt=""><sub class="info">Home</sub></a>
  <a href="#" class="flex"><img src="https://i.postimg.cc/SN14KPs1/02.png" alt=""><sub class="info">Recent Places</sub></a>
  <a href="#" class="flex"><img src="https://i.postimg.cc/htHqL7V9/03.png" alt=""><sub class="info">Destination</sub></a>
  <a href="#" class="flex"><img src="https://i.postimg.cc/Xq7MjK00/04.png" alt=""><sub class="info">Blog</sub></a>
  <a href="#" class="flex"><img src="https://i.postimg.cc/sXJdC6qc/05.png" alt=""><sub class="info">Contact Us</sub></a>
  <a href="#" class="flex"><img src="https://i.postimg.cc/DZhkDkj0/06.png" alt=""><sub class="info">About Us</sub></a>
</nav>



<!--MAIN-->
<main class="flex">
  <article class="padding_5x">
    <%= image_tag "quipmentball.png", class: "balllogo" %>
    <%# <img src="quipmentball.png" class="logo" alt="Travelling"> %>
    <h1 class="title">Making Your<br><span class="stroke">Equipment</span> Needs Easy</h1>
    <span class="icons flex">
    <%= link_to equipments_path, class: "shape flex" do %>
      <i class="fa" id="get-started">Get Started</i>
    <% end %>
  </article>
</main>


<!--SECTIONS-->
<!--SECTION1-->
<div class="section1">
  <section>
    <form class="flex padding_1x">
    <input type="text" name="where_to" id="where_to" placeholder="What equipment?" maxlength="50" required="" class="padding_1x flex-content">
    <select name="destination" id="destination" class="padding_1x flex-content">
    <option value="">Location</option>
    <option value="">New York</option>
    <option value="">Maldives</option>
    <option value="">Greece</option>
    <option value="">Green Land</option>
    <option value="">Sri Lanka</option>
    <option value="">Thai Land</option>
    </select>
    <select name="duration" id="duration" class="padding_1x flex-content">
    <option value="">Duration</option>
    <option value="">1-2 Days</option>
    <option value="">2-3 Days</option>
    <option value="">4-5 Days</option>
    <option value="">5-6 Days</option>
    <option value="">6-7 Days</option>
    <option value="">10 Days</option>
    </select>
    <button class="padding_1x flex-content btn1" class="flex-content">Show Me!</button>
    </form>
  </section>
  </div>



  <!--SECTION2-->
  <div class="section2 flex">
  <section class="flex-content padding_2x">
  <span class="tag inline-photo show-on-scroll">Rent with us</span>
  <h1 class="sub-title">Find your next <em>rental</em></h1>
  <p>Text</p>
  <a href="#" class="btn2">Top Equipment Rentals <i class="fa fa-paper-plane"></i></a>
  </section>
  <section class="flex-content padding_2x">
  <img src="https://i.postimg.cc/YqdrW9X3/01.jpg" alt="" class="text inline-photo3 show-on-scroll3">
  </section>
  </div>



  <!--SECTION3-->
  <div class="section3 flex padding_1x">
  <section class="flex-content padding_1x inline-photo show-on-scroll">
  <figure>
  <img src="https://i.postimg.cc/Y2bKXP12/01.jpg" alt="">
  <article>
  <span class="padding_1x">
  <h2 class="cursive">Rent</h2>
  <p>The finest equipment</p>
  </span>
  </article>
  </figure>
  </section>
  <section class="flex-content padding_1x inline-photo show-on-scroll">
  <figure>
  <img src="https://i.postimg.cc/3JNMzZBX/02.jpg" alt="">
  <article>
  <span class="padding_1x">
  <h2 class="cursive">Water</h2>
  <p>All your water-based renting needs</p>
  </span>
  </article>
  </figure>
  </section>
  <section class="flex-content padding_1x inline-photo show-on-scroll">
  <figure>
  <img src="https://i.postimg.cc/WbyRVJWQ/03.jpg" alt="">
  <article>
  <span class="padding_1x">
  <h2 class="cursive">Ball sports</h2>
  <p>All your ball-based renting needs</p>
  </span>
  </article>
  </figure>
  </section>
  <section class="flex-content padding_1x inline-photo show-on-scroll">
  <figure>
  <img src="https://i.postimg.cc/13Vk35b4/04.jpg" alt="">
  <article>
  <span class="padding_1x">
  <h2 class="cursive">Gym</h2>
  <p>All your gym-based renting needs</p>
  </span>
  </article>
  </figure>
  </section>
  <section class="flex-content padding_1x inline-photo show-on-scroll">
  <figure>
  <img src="https://i.postimg.cc/LsdrYFMD/05.jpg" alt="">
  <article>
  <span class="padding_1x">
  <h2 class="cursive">Camping</h2>
  <p>All your camping-based renting needs</p>
  </article>
  </span>
  </figure>
  </section>
  </div>



  <!--SECTION4-->
  <div class="section4 flex">
  <section class="flex-content padding_2x">
  <b class="cursive">Looking to sell?</b>
  <h1 class="sub-title">Join us and<em>start earning today</em></h1>
  <p>Make racks on racks on racks</p>
  <span class="splot">Join Now<i class="fa fa-caret-right"></i></span>
  </section>
  <section class="flex-content padding_2x">
  <img src="https://i.postimg.cc/BnyJmzfP/02.jpg" alt="" class="inline-photo show-on-scroll" loading="lazy">
  </section>
  <section class="flex-content padding_2x">
  <h1 class="title">Quipment</h1>
  <article class="flex">
  <span class="flex-content padding_1x">
  <h1 class="sub-title">12,000</h1>
  <p>Sellers</p>
  </span>
  <span class="flex-content padding_1x">
  <h1 class="sub-title">60,000+</h1>
  <p>Equipment For Sale</p>
  </span>
  <span class="flex-content padding_1x">
  <h1 class="sub-title">500,000+</h1>
  <p>Users</p>
  </span>
  </article>
  </section>
  </div>



  <%# <!--SECTION5-->
<div class="section5 flex">
  <section class="flex-content padding_2x">
    <figure class="padding_1x inline-photo2 show-on-scroll2">
    <img src="https://i.postimg.cc/k4N9XX6W/shuffle-1.jpg" alt="" loading="lazy">
    <p class="cursive">Let's make some beautiful memories in <em>Maldives</em></p>
    </figure>
    <figure class="padding_1x inline-photo2 show-on-scroll2">
    <img src="https://i.postimg.cc/tJ2jWSzT/shuffle-2.jpg" alt="" loading="lazy">
    </figure>
    <figure class="padding_1x inline-photo2 show-on-scroll2">
    <img src="https://i.postimg.cc/RZ3BJTJS/shuffle-3.jpg" alt="" loading="lazy">
    </figure>
  </section>
  <section class="flex-content padding_2x">
    <img src="https://i.postimg.cc/85gNSr51/02.png" alt="" class=" inline-photo3 show-on-scroll3" loading="lazy">
  </section>
</div> %>



<!--FOOTER-->
<footer class="padding_1x">
<article>
<%= image_tag "quipmentball", class: "balllogo" %>
<%# <img src="https://i.postimg.cc/rpssZ4Hz/canva.png" alt="" class="logo"> %>
</article>
<article class="flex">
<a href="#">Terms & conditions</a>
<a href="#">Privacy policy</a>
<a href="#">Cookie policy</a>
<a href="#">Contact</a>
</article>
<article>
<p>© 2022 Quipment || All rights reserved to the Quipment BOYS</p>
</article>
</footer>



<!--JAVASCRIPT-->
<!--PLUGIN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--REMOVE THIS-->
