<p><span data-controller="typed-js"></span></p>

<div class="container">
  <div class="card-trip">
    <img src="https://via.placeholder.com/250"/>
    <div class="card-trip-infos">
      <div>
        <h2>Sport Equipment For Hire</h2>
        <p>Sports Equipment Description</p>
      </div>
      <h2 class="card-trip-pricing">$0.00</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://via.placeholder.com/250"/>
    <div class="card-trip-infos">
      <div>
        <h2>Sport Equipment For Hire</h2>
        <p>Sports Equipment Description</p>
      </div>
      <h2 class="card-trip-pricing">$0.00</h2>
    </div>
  </div>


  <div class="card-trip">
    <img src="https://via.placeholder.com/250"/>
    <div class="card-trip-infos">
      <div>
        <h2>Sport Equipment For Hire</h2>
        <p>Sports Equipment Description</p>
      </div>
      <h2 class="card-trip-pricing">$0.00</h2>
    </div>
  </div>


  <div class="card-trip">
    <img src="https://via.placeholder.com/250"/>
    <div class="card-trip-infos">
      <div>
        <h2>Sport Equipment For Hire</h2>
        <p>Sports Equipment Description</p>
      </div>
      <h2 class="card-trip-pricing">$0.00</h2>
    </div>
  </div>


  <div class="card-trip">
    <img src="https://via.placeholder.com/250"/>
    <div class="card-trip-infos">
      <div>
        <h2>Sport Equipment For Hire</h2>
        <p>Sports Equipment Description</p>
      </div>
      <h2 class="card-trip-pricing">$0.00</h2>
    </div>
  </div>


  <div class="card-trip">
    <img src="https://via.placeholder.com/250"/>
    <div class="card-trip-infos">
      <div>
        <h2>Sport Equipment For Hire</h2>
        <p>Sports Equipment Description</p>
      </div>
      <h2 class="card-trip-pricing">$0.00</h2>
    </div>
  </div>

    <div class="card-trip">
    <img src="https://via.placeholder.com/250"/>
    <div class="card-trip-infos">
      <div>
        <h2>Sport Equipment For Hire</h2>
        <p>Sports Equipment Description</p>
      </div>
      <h2 class="card-trip-pricing">$0.00</h2>
    </div>
  </div>

    <div class="card-trip">
    <img src="https://via.placeholder.com/250"/>
    <div class="card-trip-infos">
      <div>
        <h2>Sport Equipment For Hire</h2>
        <p>Sports Equipment Description</p>
      </div>
      <h2 class="card-trip-pricing">$0.00</h2>
    </div>
  </div>
</div>
