.listings_bg_image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Soccer_field_-_empty.svg/1170px-Soccer_field_-_empty.svg.png?20060612205017");
  height: calc(100vh - 45px);
  margin-top: -36px;
  background-size: cover;
}

.new_equipment label {
  color: white;
}
