.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  height: 50px;
  padding-top: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 100px;
  height: 50px;
}

.navbar-white {
  background-color: white;
}

H1 {
  font-size: 15px;
}
