.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 500px;
  border-radius: 5px;
  margin: 10px;
  transition: 0.85s;
  color: black;
  text-decoration: none;
}

.card-show:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  color: inherit;
}

.card-show>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-show h2 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.card-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-show .card-show-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-show-pricing {
  padding-bottom: 10px;
}
